.CharacterSheet {
  margin: 0 auto;
  padding: 20px;
} 
.total {
  border: none;
} 


/* character Info Css */
.characterTitle {
  min-width: 300px;
  text-shadow: 10px 10px #fff;
}
.charinfo > .input > input {
  height: 37px;
  padding-left: 26px !important;
  padding-right: 4px !important;
}
.charinfo > .input {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
h2 {
  text-shadow: 1px 1px 0 #c0c0c0, 2px 2px 0 #c0c0c0, 3px 3px 0 #c0c0c0,
    4px 4px 0 #c0c0c0, 5px 5px 0 #c0c0c0, 6px 6px 0 #c0c0c0,
    3px 3px 10px #000000;
  font-size: 28px;
  line-height: 138px;
  margin: 0;
  text-align: center;
}
.charinfo {
  top: 20px;
}
.charinfo > .labeled > .label {
  height: 0px;
  display: block;
}

/* Skills CSS */
.skillCapsule {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}
.skillHeader {
  display: inline-block;
  width: 28px;
  float: left;
  font-size: 9px;
}
.firstSkillHeader {
  width: 200px;
  font-size: 12px;
  margin-left:15px;
}
.secondSkillHeader {
  width: 35px;
}
.skillDescription {
  margin-left: 20px;
}
.total {
  display: inline-block;
}
.ranks {
  display: inline-block;
}
.miscMod {
  display: inline-block;
}

/* Saves Css */
.Saves{
  padding:5px;
}
.SaveTitle{
  display:inline-block;
  min-width:80px;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  margin-top:10px;
  border-radius:8px;
  background-color:darkgray;
}
.SaveSubtitle{
  font-size:9px;
  text-align:center;
  margin-top:-10px;
}
.SaveModifiers{
  display:inline-block;
}
.SaveModifiers >input{
  height:25px;
  top:-2px;
  border:1px solid darkgray;
  border-radius:6px;
  text-align: center;
  position:relative;
}
.TotalSave{
  border:1px solid darkgrey;
  margin-left:10px;
  margin-right:5px;
  text-align:center;
  font-weight:bold;
  border-radius:10px;
}

/* Stats CSS*/
.statButtons {
  left: 0px;
  anchor: left;
  visibility: hidden;
}
.abilityScore:hover .statButtons {
  visibility: visible;
}
.Stats > div > .button > .button {
  min-width: 70px;
  max-width: 70px;
}
.Stats > div >  .button > .temp {
  min-width: 70px;
  max-width: 70px;
} 
.Stats {
  max-height:120px;
  min-height:300px;
  left: 20px;
  max-width: 400px;
  min-width: 350px;
}
.statHeader {
  display: inline-block;
  min-width: 70px;
  margin-left: 15px;
} 
.statName {
  min-width: 200px;
  display: inline-block;
}
.abilityScore{
  max-height:40px;
  margin-top:40px;
  display:inline-block;
  position:relative;
}
.statPos {
  width: 17px;
  height: 20px;
  left: 30px;
  top: -25px;
  font-size: 14px;
  padding: 0px 0px 0px 0px;
  position: relative;
  display: block;
}
.statNeg {
  left: 30px;
  font-size: 14px;
  top: -25px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  width: 17px;
  position: relative;
  display: block;
} 

/* Colors CSS */
.strength {
  background-color: #ffa0a0;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.dexterity {
  background-color: #b4ffe3;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.constitution {
  background-color: #ffcf99;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.intelligence {
  background-color: #8cb8ff;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.wisdom {
  background-color: #cf87ff;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.charisma {
  background-color: #f7aae2;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}

/*healthpoints Css*/
.HealthPoints {
  margin-top: 20px;
}
.HealthPoints > .ui > .input > input {
  height: 37px;
  padding-left: 26px !important;
  padding-right: 4px !important;
}
