.CharacterSheet {
  margin: 0 auto;
  padding: 20px;
} 
.total {
  border: none;
}
.inline-block{
  display:inline-block;
}
.block{
  display:block;
}
.ui.grid>*{
  padding-left:0px;
  padding-right:0px;
}

/* character Info Css */
.characterTitle {
  min-width: 300px;
  text-shadow: 10px 10px #fff;
}
.charinfo > .input > input {
  height: 37px;
  padding-left: 26px !important;
  padding-right: 4px !important;
}
.charinfo > .input {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
h2 {
  text-shadow: 1px 1px 0 #c0c0c0, 2px 2px 0 #c0c0c0, 3px 3px 0 #c0c0c0,
    4px 4px 0 #c0c0c0, 5px 5px 0 #c0c0c0, 6px 6px 0 #c0c0c0,
    3px 3px 10px #000000;
  font-size: 28px;
  line-height: 138px;
  margin: 0;
  text-align: center;
}
.charinfo {
  top: 20px;
  max-height:150px;
  min-width:685px;
}
.charinfo > .labeled > .label {
  height: 0px;
  display: block;
}

/* Skills CSS */
.Skills{
  position:relative;
  min-width:350px;
  right:0px;
}
.skillCapsule {
  min-width:430px;
  max-width:430px;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}
.skillHeader {
  display: inline-block;
  width: 28px;
  float: left;
  font-size: 9px;
}
.firstSkillHeader {
  width: 200px;
  font-size: 12px;
  margin-left:15px;
}
.secondSkillHeader {
  width: 35px;
}
.skillDescription {
  margin-left: 20px;
}
.total {
  display: inline-block;
}
.ranks {
  display: inline-block;
}
.miscMod {
  display: inline-block;
}

/* Saves Css */
.Saves{
  padding:5px;
  position:relative;
  left:20px;
}
.SaveTitle{
  display:inline-block;
  min-width:80px;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  margin-top:10px;
  border-radius:8px;
  background-color:darkgray;
}
.SaveSubtitle{
  font-size:9px;
  text-align:center;
  margin-top:-10px;
}
.SaveModifiers{
  display:inline-block;
}
.SaveModifiers >input{
  height:25px;
  top:-2px;
  border:1px solid darkgray;
  border-radius:6px;
  text-align: center;
  position:relative;
}
.TotalSave{
  border:1px solid darkgrey;
  margin-left:10px;
  margin-right:5px;
  text-align:center;
  font-weight:bold;
  border-radius:10px;
}

/* Stats CSS*/
.statButtons {
  left: 0px;
  anchor: left;
  visibility: hidden;
}
.abilityScore:hover .statButtons {
  visibility: visible;
}
.Stats > div > .button > .button {
  min-width: 70px;
  max-width: 70px;
}
.Stats > div >  .button > .temp {
  min-width: 70px;
  max-width: 70px;
} 
.Stats {

  max-height:120px;
  min-height:300px;
  position:relative;
  left: 20px;
  max-width: 400px;
  min-width: 350px;
}
.statHeader {
  display: inline-block;
  min-width: 70px;
  margin-left: 15px;
} 
.statName {
  min-width: 200px;
  display: inline-block;
}
.abilityScore{
  max-height:40px;
  margin-top:40px;
  display:inline-block;
  position:relative;
}
.statPos {
  width: 17px;
  height: 20px;
  left: 30px;
  top: -25px;
  font-size: 14px;
  padding: 0px 0px 0px 0px;
  position: relative;
  display: block;
}
.statNeg {
  left: 30px;
  font-size: 14px;
  top: -25px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  width: 17px;
  position: relative;
  display: block;
} 

/* Colors CSS */
.strength {
  background-color: #ffa0a0;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.dexterity {
  background-color: #b4ffe3;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.constitution {
  background-color: #ffcf99;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.intelligence {
  background-color: #8cb8ff;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.wisdom {
  background-color: #cf87ff;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}
.charisma {
  background-color: #f7aae2;
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 14px;
  margin-right: 5px;
}

/*healthpoints Css*/
.HealthPoints {
  margin-top: 0px;
}
.HealthPoints > .ui > .input > input {
  height: 37px;
  padding-left: 26px !important;
  padding-right: 4px !important;
}


/* speed Css */
.Speed{
  padding:0px;
  max-height:150px;
  min-width:300px;
  max-width:400px;
}
.speedFieldFt{
  width:45px;
  border-right:none;
  margin-left:5px;
  border-top-left-radius:6px;
  padding-left:6px;
  margin-right:2px;
}
.speedFieldSq{
  width:45px;
  margin-left:0px;
  margin-right:0px;
  border-top-right-radius:5px;
  padding-left:12px;
  border-left:none;
}
.speedDescriptor{
  max-height:34px;
  width:80px;
  position:relative;
  top:-15px;
  padding-top:6px!important;
}
.subscript{
  position:relative; 
  text-align:center;
  font-size:8px;
}
.subtext{
  font-size:9px;
  margin-left:-23px;
  padding-left:10px;
  top:11px;
}
.baseSpeed{
  margin-left:108px;
  top:-28px;
  position:relative;
}
.withArmor{
  position:relative;
  top:-28px;
  margin-left:64px;
}
.speedGroup{
  position:relative;
  top:-10px;
  width:100px;
  display:inline-block;
}
.speedSecondRow{
  position:relative;
  top:-20px;
  padding-left:4px;
  min-width:340px;
  max-width:350px;
}
.speedGroupFly{
  width:140px;
  display:inline-block;
}
.speedGroupThree{
  display:inline-block;
  width:160px;
  margin-left:-20px;
}
.speedGroupThree > input{
  margin-right:16px;
  margin-left:-2px;
  padding-left:8px;
  width:45px;
  border-radius:5px;
  max-width:200px;
}
.subtext3{
  font-size:9px;
  padding-right:10px;
  margin-left:-33px;
  padding-left:0px;
  top:11px;
}
.speedTempModifierHeadline{
  font-size:8px;
}
.speedGroupTemp{
  display:inline-block; 
  position:relative;
  margin-top:-45px;
}
.fly{
  position:relative;
  top:-6px;
  margin-left:20px;
}
.maneuverability{
  position:relative;
  top:-6px;
  margin-left:20px;
}
.swim{
  position:relative;
  top:-6px;
  margin-left:30px;
}
.climb{
  position:relative;
  top:-6px;
  margin-left:25px;
}
.burrow{
  position:relative;
  top:-6px;
  margin-left:25px;
}

/* armor css */
.Armor{ 
  position:relative;
  left:20px;
  max-height:120px;
  min-width:440px;
  max-width:450px;
}
.armorLabel{
  font-size:8px;
  display:inline-block;
  max-width:40px;
  text-align:center;
  line-height:7px;
}
.armorLabelBlank{
  font-size:8px;
  display:inline-block;
  min-width:40px;
  text-align:center;
  line-height:7px;
}
.ArmorDescriptor{
 max-height:30px;
 padding-top:4px!important;
 width:54px;
 margin-top:3px;
}
.subscript{
  height:10px;
}
.TouchDescriptor{
 max-height:28px;
 padding-top:3px!important;
}
.FlatDescriptor{
 max-height:28px;
 padding-top:3px!important;
}
.ArmorFirstRow{
  display:inline-block; 
}
.ArmorFirstRow > input{
  text-align:center;
  max-width:25px;
}
.ArmorSecondRow{
position:relative;
top:-8px;
left:60px;
}
.modifierText{
  width:0px;
  top:-13px;
  font-size:8px;
  display:inline-block;
  position:relative;
  left:-30px;
}
.ArmorThirdRow > input{
position:relative;
top:-6px;
max-width:30px;
margin-left:6px;
margin-right:6px;
}

/* Bab Css */
.Bab{
  min-width:400px;
}
.Bab > .button{
  position:relative;
  margin-left:15px;
  padding-left:8px;
  padding-top:8px;
  padding-bottom:8px;
  padding-right:8px;
}
.babInput{
  text-align:center;
  border-radius:4px;
}

/* backdrop classes */

.Backdrop{
  position:fixed;
  overflow:hidden;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(100, 100, 100, 0.5);
  z-index:2;
}

.gray{
  color:#d3d3d3;
}
/*login and register modal css */
.loginModal{
  left: 50%;
  top: 50%; 
  position:fixed;
  background-color:#fff;
  border-radius: 5px;
  height:300px;
  width:500px;
  margin-left: -250px;
  margin-top: -200px;
  max-width: 500px;
  max-height: 300px;
  margins:0 auto;
  padding: 30px;
  z-index:3;
}
.modal > .header{
  position:relative;
  top:-13px;
  font-size:20px;

}
.modal > .description{

}
.modal > form > .field{
  padding:4px;
   margin-left:60px;
}
.modal > form > .field > .input > input{
 width:300px;
}
.modal > form > .footer > button{
  margin-left:30px;
  margin-right:10px;
}
.Spacer{
  width:300px;
  height:90px;
}
.registerModal{
  left: 50%;
  top: 50%; 
  position:fixed;
  background-color:#fff;
  border-radius: 5px;
  height:400px;
  width:500px;
  margin-left: -250px;
  margin-top: -200px;
  max-width: 500px;
  max-height: 450px;
  margins:0 auto;
  padding: 30px;
  z-index:3;
}



/* SideDrawer and drawerToggle css (hamberger menu) */

.DrawerToggle {
    width: 40px;
    height:40px; 
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggleItem {
    width: 90%;
    height: 5px;
    background-color: #888;
}

@media (min-width: 500px) {
    .DrawerToggle {

    }
}
.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    background-color:#f7e5ff;
}
.NavigationDrawer > NavigationItems > NavigationItem {
    display:block;
    width:100%;
}

@media (min-width: 500px) {
    .SideDrawer {
         
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}


/* Weapon css */
.Weapons{   
  width:430px;
  padding-bottom:40px;
}
.Weapon{
  max-width:409px;
  min-width:408px;
  border-radius:6px;
  border:1px solid #000;
  margin:6px;
}
.weaponRowZero{
  border-bottom:1px solid #000;
  width:100%;
  display:inline-block;
  color:white;
  margin-top:-2px;
  min-height:24px;
  background-color:#000;
  border-top-right-radius:6px;
  border-top-left-radius:6px;

}
.weaponHeader{
  padding-left:20px;
  padding-right:20px;
  margin-left:20px;
  display:inline-block;
  position:relative;
  bottom:-3px;
  margin-top:-2px;
  font-size:22px;
  background-color:#000;
}
.attackBonusHeader{
  display:inline-block;
  margin-left:20px;
  padding-left:10px;
  padding-right:10px;
  background-color:#000;
}
.criticalHeader{
  margin-left:43px;
  display:inline-block;
  margin-right:12px;
  padding-left:10px;
  padding-right:10px;
  background-color:#000;
}
.weaponRowOne{
  display:block;
}
.weaponRowOne > .input > input{
  max-height:30px;
  text-align:center;
}
.weaponRowTwo{
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  display:inline-block;
  color:white;
  max-height:20px;
  display:block;

  background-color:#000;
}
.typeHeader{
  display:inline-block;
  margin-left:40px; 
  font-size:14px;
  padding-left:10px;
  padding-right:10px;
  background-color:#000;
}
.rangeHeader{
  display:inline-block;
  margin-left:40px; 
  font-size:14px;
  padding-left:10px;
  padding-right:10px;
  background-color:#000;

}
.ammunitionHeader{
  display:inline-block;
  margin-left:20px;
  font-size:14px;
  padding-left:10px;
  padding-right:10px;
  background-color:#000;

}
.damageHeader{
  display:inline-block;
  margin-left:20px; 
  font-size:14px;
  padding-left:10px;
  padding-right:10px;
  background-color:#000;
}
.weaponRowThree{
  display:block;
}
.weaponRowThree > .input > input{
  max-height:30px;
  text-align:center;
}
.addNewWeapon{
  position:absolute;
  /*right:0px;*/
  left:383px;

  visibility:hidden;
}
.Weapons:hover .addNewWeapon {
  visibility: visible;
}
.Weapon:hover .deleteWeapon{
  visibility:visible;
}
.deleteWeapon{
  visibility:hidden;
  border-radius:6px;
  color:white;
  background-color: #f44336;
}